<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Product Updater has been run!</p>
    <p>No products have been added</p>
  </body>
</html>
