<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Products have been updated!</h1>
    <p><%= @count %> Product(s) have been updated</p>
    <p><%= @img_count %> Product Image(s) have been updated</p>
    <hr/>
    <p>Visit <a href="premecalc.herokuapp.com">Premecalc</a> to check out the new additions.</p>
  </body>
</html>
