<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Site Updates</h1><hr/>
    <p><%= @count %> Product(s) have been added</p>
    <p><%= @updated - 160 %> Product(s) have been updated</p>
    <hr/>
    <p>Visit <a href="premecalc.com">Premecalc</a> to check out the new additions.</p>
  </body>
</html>
