<div class="section ivory row container">
  <h2 class="header">The Best Supreme Calculator</h2>
  <div class="row">
    <div class="col s4">
      <div class="center promo promo-example">
        <i class="material-icons md-48">flash_on</i>
        <p class="promo-caption">Quickly Search</p>
        <p class="light center">Look through all the products in an organized weekly drop format.</p>
      </div>
    </div>
    <div class="col s4">
      <div class="center promo promo-example">
        <i class="material-icons md-48">group</i>
        <p class="promo-caption">Share/Store</p>
        <p class="light center">Store, Share, and edit wishlists, mock orders and saved orders. With a very flexible cart system, you can find out all the pricing info you need to stay prepared.</p>
      </div>
    </div>
    <div class="col s4">
      <div class="center promo promo-example">
        <i class="material-icons md-48">settings</i>
        <p class="promo-caption">Custom Settings</p>
        <p class="light center">With our advanced margin setting and calculations, you can know what the optimal sell price would be to make a lil extra this week.</p>
      </div>
    </div>
  </div>
</div>
