$(".cart-text").html("<%= escape_javascript(render 'layouts/cart') %>")
$('.mobile-cart-label').html("0 <i class='fa fa-shopping-cart'></i>");
$('.column-labels, .product, .totals').hide();
Materialize.toast('Order Saved!', 4000);
$('.shopping-cart-area').html("<p class='text-center'>Your order has been saved and can be viewed in <a href='/orders'>Saved Orders</a></p>")
