<div class="container restock-container row">
  <% @places.each do |place| %>
    <div class="col sm12 m4 lg4">
      <%= link_to restock_country_path(place) do %>
        <div class="card">
          <div class="card-content">
            <img style="max-width:100% !important;" alt="<%= place.upcase %>" class="border--round" src="https://www.supremecommunity.com/s/img/restocks/<%= place %>.png">
            <span class="card-title" style="text-align:center !important;"><%= place.titleize %></span>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
