// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-imgs {
  transition: 1s ease all;
  max-width: 100%;
  &:hover {
    box-shadow: 0px 0px 3px 0px grey;
    border-radius: 2px;
    transition: 1s ease all;
  }
}
.modal {
  max-height: 90% !important;
  width: 70% !important;
}

span.badge {
  min-width: 5rem !important;
  padding: 0px 2px !important;
}
