// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.restock-container {
  .timeline {
    position: relative;
  }

  .timeline .timeline-event {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .timeline .timeline-event .timeline-content {
    position: relative;
    width: calc(50% - 50px);
  }

  .timeline .timeline-event::before {
    display: block;
    content: "";
    width: 2px;
    height: calc(50% - 30px);
    position: absolute;
    background: #d2d2d2;
    left: calc(50% - 1px);
    top: 0;
  }

  .timeline .timeline-event::after {
    display: block;
    content: "";
    width: 2px;
    height: calc(50% - 30px);
    position: absolute;
    background: #d2d2d2;
    left: calc(50% - 1px);
    top: calc(50% + 30px);
  }

  .timeline .timeline-event:first-child::before {
    display: none;
  }

  .timeline .timeline-event:last-child::after {
    display: none;
  }

  .timeline .timeline-event:nth-child(even) .timeline-content {
    margin-left: calc(50% + 50px);
  }

  .timeline .timeline-event:nth-child(odd) .timeline-content {
    margin-left: 0;
  }

  .timeline .timeline-badge {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    background: #d2d2d2;
    top: calc(50% - 20px);
    right: calc(50% - 20px);
    border-radius: 50%;
    text-align: center;
    cursor: default;
  }

  .timeline .timeline-badge i {
    font-size: 25px;
    line-height: 40px;
  }

  @media (max-width: 600px) {
    .timeline .timeline-event .timeline-content {
      width: calc(100% - 70px);
    }
    .timeline .timeline-event::before {
      left: 19px;
    }
    .timeline .timeline-event::after {
      left: 19px;
    }
    .timeline .timeline-event:nth-child(even) .timeline-content {
      margin-left: 70px;
    }
    .timeline .timeline-event:nth-child(odd) .timeline-content {
      margin-left: 70px;
    }
    .timeline .timeline-badge {
      left: 0;
    }
  }
}

.restock-img {
  height: 100px !important;
  width: auto !important;
}
.carousel {
  cursor: pointer;
}

.regcontainer {
  .new_user {
    input {
      text-align: center;
    }
  }
  .login {
    text-align: center;
    width: 70%;
    top: 10%;
    margin: 0 auto;
    background: gainsboro;
    padding: 40px 5%;
    border-radius: 5px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3),
      inset 0px 1px 0px rgba(255, 255, 255, 0.07);
  }

  input[type="text"],
  input[type="password"] {
    width: 250px;
    padding: 25px 0px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.04);
    outline: none;
    color: #46485c;
  }

  input[type="submit"] {
    background: #b5cd60;
    border: 0;
    width: 250px;
    height: 40px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  input[type="submit"]:hover {
    background: #16aa56;
  }

  .forgot {
    margin-top: 30px;
    display: block;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
  }
  .forgot:hover {
    margin-top: 30px;
    display: block;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
    color: #6d7781;
  }

  .remember {
    padding: 30px 0px;
    font-size: 12px;
    text-indent: 25px;
    line-height: 15px;
  }

  ::-webkit-input-placeholder {
    color: #46485c;
  }

  [placeholder]:focus::-webkit-input-placeholder {
    transition: all 0.2s linear;
    transform: translate(10px, 0);
    opacity: 0;
  }
  [type="checkbox"] + label {
    padding-left: 0px !important;
  }
}

.product-imgs {
  max-width: 100%;
}
.product-container {
  border: 1px solid silver;
}

span.badge {
  padding: 0px 2px !important;
}

nav .nav-wrapper {
  background: white;
}

nav {
  ul {
    a {
      color: black !important;
    }
  }
}

nav {
  ul {
    .cart-button {
      a {
        color: white !important;
      }
    }
  }
}

nav ul a:nth-last-child {
  color: white !important;
}

.carousel {
  height: 400px !important;
  perspective: none !important;
  transform-style: unset !important;
  transform-origin: 0% 0% !important;
}

.cart-button {
  background: green;
}
.regcontainer {
  margin: 25px 22%;
}
html {
  position: relative;
  min-height: 100%;
}
footer {
  background-color: orange;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.page-footer {
  padding-top: 0px !important;
  color: #fff;
  background-color: #ee6e73;
}

.totals-value {
  font-size: 12px;
}

.save-order {
  position: relative;
}

.reset-order {
  position: relative;
}

.card .card-content {
  padding: 10px !important;
}

.btn-floating.halfway-fab {
  bottom: 15px !important;
}

.card.horizontal {
  .card-image {
    padding: 10px;
    img {
      max-width: 100% !important;
      width: 100% !important;
      height: auto !important;
      margin: 0 auto !important;
    }
  }
}

// iPhone 6 (portrait)
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  footer {
    bottom: -8%;
  }
  .restock-img {
    height: initial !important;
    width: auto !important;
  }
  .regcontainer {
    margin: 10px -18%;
  }
  .price-label {
    margin: -18px 15px !important;
  }
  .product-price {
    width: 18%;
    font-size: 12px;
  }
  .column-labels {
    display: block;
  }
  .column-labels .product-details {
    display: none;
  }
  .cart-button {
    background: #fff !important;
  }
  .brand-logo {
    img {
      height: 50px !important;
      position: relative;
      top: 3px;
    }
  }
  nav a {
    color: initial !important;
  }
  .button1 {
    float: right !important;
  }
  .card-content {
    min-height: initial !important;
  }
  .mobile-cart-label {
    font-size: 18px !important;
  }
  #menuToggle {
    display: block;
    position: relative;
    top: 15px;
    left: -5px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
}

// iPhone 6 (landscape)
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
  .brand-logo {
    img {
      height: 52px !important;
      position: relative;
      top: 3px;
    }
  }
  nav a {
    color: initial !important;
  }
  .button1 {
    float: right !important;
  }
  .card-content {
    min-height: initial !important;
  }
  .mobile-cart-label {
    font-size: 18px !important;
  }
  #menuToggle {
    display: block;
    position: relative;
    top: 15px;
    left: -5px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
}

// iPhone 6 Plus (portrait)
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
  .save-order {
  }
  .product-price {
    width: 20%;
    font-size: 12px;
  }
  .column-labels {
    display: block;
  }
  .column-labels .product-details {
    display: none;
  }
  .cart-button {
    background: #fff !important;
  }
  .brand-logo {
    img {
      height: 52px !important;
      position: relative;
      top: 3px;
    }
  }
  nav a {
    color: initial !important;
  }
  .button1 {
    float: right !important;
  }
  .card-content {
    min-height: initial !important;
  }
  .mobile-cart-label {
    font-size: 18px !important;
  }
  #menuToggle {
    display: block;
    position: relative;
    top: 15px;
    left: -5px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
}

@media only screen and (min-width: 993px) {
  .carousel-item {
    width: 45% !important;
  }
}
