<ul class="side-nav" id="mobile-demo">
  <li style="height:32px;"><i style="float: right;margin: 10px;" class="material-icons close">close</i></li>
  <%= render partial: 'layouts/menu_options' %>
</ul>
